*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
    color: black; 
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    font-weight: bold;
}

body {
    font-family: Courier, Sans-Serif;
    font-size: 2em;
}

.products {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}

.product-image img {
    width: 300px;
    height: 300px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    width: 100%;
    z-index: 1000;
    border-bottom: 0.5px black solid;
    box-sizing: border-box;
}

ol{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    line-height: 60px;
}

ul{
    display: none;
    line-height: normal;
    list-style-type: none;
}

ol > li{
    flex: 1;
}

ol >li:hover{
    margin-bottom: 20px;
} 

ol > li:hover > ul{
    display: block;
    
    
}

.logo {
    height: 60px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#logo {
    width: 20px;
    height: 40px;


}

.product-image:hover {
    opacity: 0.8;
    cursor: pointer;
}

.sold-out {
    position: relative;
    cursor: default;
}

.sold-out:hover::before {
    content: "SOLD OUT";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    color: white;


}

.fa-bars {
    display: none;
}

.fa-times {
    position: absolute;
    top: 20px;
    right: 45px;
    
    display: none;
}

.product-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.product-info2{
    margin-top: 2%;
    margin-left: 8%;
}

.small-image{
    display: inline-block;
    opacity: 0.7;
}

.first{
    margin-left: 30px;
    opacity: 1;
}

.small-image img{
    
    margin-top: 2%;
    margin-left: 6%;
    width: 40px;
    height: 40px;
}

.sizees{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 2%;
}

.sizees h1{
    border: 0.5px black solid;
    width: 35px;
    text-align: center;
    margin-left: 2%;
    font-size: 1.3em;
    font-weight: normal;
}

.add-to-bag{
    background-color: black;
    color:white;
    padding: 20px;
    text-align: center;
    box-sizing:border-box;
    width: 20%;
    margin: auto;
    margin-top: 2%;
    font-family: sans-serif;
    font-size: 0.9em;
}

.cartButton{
    background-color: #0066CC;
    width: 10%;
    text-align: center;
    color: white;
    font-family: sans-serif;
    line-height: 30px;
    border-radius: 2px;
    position: absolute;
    top: 100px;
    right: 100px;
    letter-spacing: 1px;
}

@media only screen and (max-width : 536px) {


    .logo {
        display: none;
    }


    ol{
        flex-direction: column;
    }

    .navbar {
        width: 50vw;
        border-right: 1px black solid;
        box-sizing: border-box;
        height: 100vh;
        display: none;
        padding-left: 20px;
        
    }

    .products {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        

    }

    .fa-bars {
        font-size: 20px;
        position: fixed;
        top: 20px;
        right: 20px;
        display: block;
        
    }

    .fa-times{
        font-size: 20px;
        position: fixed;
        top: 20px;
        right: 20px;
        display: block;
        font-size: 0px;
    }

    .add-to-bag{
        background-color: black;
        color:white;
        padding: 20px;
        text-align: center;
        box-sizing:border-box;
        width: 87%;
        margin: auto;
        margin-top: 2%;
        font-family: sans-serif;
        font-size: 0.9em;
    }

    .product p{
        width: 80%;
        margin: auto;
        margin-top: 2%;
    }

    .cartButton{
        background-color: #0066CC;
        width: 25%;
        text-align: center;
        color: white;
        font-family: sans-serif;
        line-height: 30px;
        border-radius: 2px;
        position: absolute;
        top: 5px;
        left: 5px;
        letter-spacing: 2px;
    }

    .cartView{
        background-color: white;
        position: fixed;
        right:0;
        top:0;
        height: 100vh;
        box-sizing: border-box;
        padding: 10px;
        width: 65%;
        display: none;
        border-left: 0.5px black solid;
        /* justify-content: center; */
        flex-direction: column;
        align-items: center;
    }

    
    .cartView h5{
        margin-bottom: 5px;
    }

    .cartView .productInCart img{
        max-width: 20vw;
        max-height: 20vh;
    }

    .cartView h2{
        text-align: center;
        margin-bottom:2vh;
    }

    .total{
        text-decoration: underline;
        margin-top: 2vh;
    }
}